.backdrop {
  background-image: url("../images/home-background.png");
  width: 100dvw;
  height: 40em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1em;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  align-items: center;
  grid-area: content;
  overflow-y: scroll;
  height: 100%;
  background-color: #222831;
  padding: 2em;
  overflow-x: hidden;
  gap: 1em;
}

.genre-banner {
  width: 100%;
  height: fit-content;
  /* background-color: aqua; */
  display: flex;
  gap: 1ch;
}

.content > h1 {
  color: white;
}

.homepage {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 25em;
  column-gap: 5em;

  grid-template-areas: "main sidebar";
}

.main-wrapper {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2em;
}

.sidebar-wrapper {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 100%;
}

.posts-container {
  /* background-color: blueviolet; */
  display: block;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.post-image {
  height: 100%;
  width: 10em;
  background-color: blue;
}

.post {
  width: 100%;
  height: 10em;
  background-color: aliceblue;
  border-radius: 1em;
  margin-bottom: 1em;

  display: flex;
  gap: 1em;

  /* shadows */
  box-shadow: 1px 7px 18px 0px rgba(49, 54, 63, 0.76);
  -webkit-box-shadow: 1px 7px 18px 0px rgba(49, 54, 63, 0.76);
  -moz-box-shadow: 1px 7px 18px 0px rgba(49, 54, 63, 0.76);
}

.post-author-info {
  display: flex;
  gap: 0.5em;
}

.post-author-image {
  width: 2em;
  height: 2em;
  background-color: #222831;
  border-radius: 100%;
}
